<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eeefeb">  <td>19/08/02 14:42:38</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteBase.setupTest()[pri:0, instance:EsPoc.EarlySalary.earlySalary.EarlySalaryAppTest@768b970c]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@339924917</td>   <td></td> </tr>
<tr bgcolor="eeefeb">  <td>19/08/02 14:42:53</td>   <td>15103</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteBase.tearownTest()[pri:0, instance:EsPoc.EarlySalary.earlySalary.EarlySalaryAppTest@768b970c]">&lt;&lt;tearownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@339924917</td>   <td></td> </tr>
</table>
