<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cea97b">  <td>19/07/24 19:22:29</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteBase.setupTest()[pri:0, instance:EsPoc.EarlySalary.Utilities.SuiteBase@32cf48b7]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2038148563</td>   <td></td> </tr>
<tr bgcolor="cea97b">  <td>19/07/24 19:22:29</td>   <td>98</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteBase.tearownTest()[pri:0, instance:EsPoc.EarlySalary.Utilities.SuiteBase@32cf48b7]">&lt;&lt;tearownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2038148563</td>   <td></td> </tr>
</table>
